html {
  background-color: #202124;
  color: #ffffff;
  font-family: Inter sans-serif;
}
  .heading {
    text-align: center;
    position: fixed;
    width: 100%;
              }
  .footer {
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    text-align: center;
  }
  a:link {
    color: #8ab4f8;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #c58af9;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #c58af9;
    background-color: transparent;
    text-decoration: underline;
  }
  * {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: limegreen;
    display: flex;
    flex-direction: column;
}
header h2 {
    font-size: 32px;
    color: #fff
}

.scrollbox {
    overflow: auto;
}
.scrollbox-inner p {
    font-size: 16px;
    color: #fff;
}


